{% extends 'home.html' %}
{% load static %}

{% block content %}
  <video autoplay muted loop id="myVideo">
    <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="header p-3">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container"><a href="#" class="navbar-brand"> <b>The Rocks</b></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About Me</a></li>
            <li class="nav-item"><a href="{% url 'drinks:all_drinks' %}" class="nav-link">Drinks</a></li>
          </ul>
        </div><!-- ./navbarSupportedContent -->
      </div><!-- ./container -->
    </nav><!-- ./navbar -->
  </div>

  <div class="content p-3">
    <p>
      Welcome to The Rocks. This is the bartending portfolio of Reginald Chapple. It contains a search engine of the drinks I have committed to memory. This search engine is designed to grow with my knowledge.
    </p>
  </div>

  <div class="footer p-3">
    <div class="container">
      <p class="text-center">
        &copy; Copyright 2020 Reginald Chapple
      </p>
    </div>
  </div>
{% endblock content %}