{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'deps/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'deps/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block headextras %}{% endblock headextras %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'partials/_footer.html' %}
    <script src="{% static 'deps/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'deps/popper/popper.min.js' %}"></script>
    <script src="{% static 'deps/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>